<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
      {% for imagen in imagenes %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>
  
    <!-- Slides -->
    <div class="carousel-inner">
      {% for imagen in imagenes %}
      <div class="item {% if forloop.first %}active{% endif %}">
        <img src="{{ imagen.url }}" alt="{{ imagen.titulo }}">
        <div class="carousel-caption">
          <h3>{{ imagen.titulo }}</h3>
          <p>{{ imagen.descripcion }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  
    <!-- Controles de navegación -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  
  <!-- Incluir las librerías necesarias -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.carousel').carousel();
    });
  </script>