<!DOCTYPE html>
<html>
    
    <body>
        <h1>Inicio de sesión</h1>

        <form method="post">
            {% csrf_token %}
            <label for="correo">Correo</label>
            <input type="text" name="correo" required>
            <br>
            <label for="password">Contraseña</label>
            <input type="password" name="password" required>
            <br>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/inicio">Iniciar</a>
               </li>
        </form>
    </body>
</html>